html,body{
width:100%;
height:100%;
overflow-x:hidden;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#000;
color:#fff;
}

.lock-scroll{
overflow:hidden;
height:100vh;
}

/* COVER */
.cover{
position:fixed;
inset:0;
height:100vh;
background:url('assets/bg-cover.jpg') center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.cover.hide{
opacity:0;
transform:scale(1.05);
transition:.8s;
pointer-events:none;
}

/* SECTION */
.section{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:40px 20px;
position:relative;
}

/* BACKGROUND */
.bg-sambutan{background:url("assets/bg-sambutan.jpg") center/cover no-repeat;}
.bg-mempelaiwanita{background:url("assets/bg-mempelaiwanita.jpg") center/cover no-repeat;}
.bg-mempelaipria{background:url("assets/bg-mempelaipria.jpg") center/cover no-repeat;}
.bg-acara{background:url("assets/bg-acara.jpg") center/cover no-repeat;}
.bg-galeri{background:url("assets/bg-galeri.jpg") center/cover no-repeat;}
.bg-kisahcinta{background:url("assets/bg-kisahcinta.jpg") center/cover no-repeat;}
.bg-kadodigital{background:url("assets/bg-kadodigital.jpg") center/cover no-repeat;}
.bg-rsvp{background:url("assets/bg-rsvp.jpg") center/cover no-repeat;}
.bg-ucapan{background:url("assets/bg-ucapan.jpg") center/cover no-repeat;}

.hidden{
display:none;
}

/* GLASS */
.glass{
background:rgba(255,255,255,.18);
backdrop-filter:blur(10px);
border-radius:22px;
padding:26px 22px;
max-width:360px;
text-align:center;
box-shadow:0 10px 28px rgba(0,0,0,.28);
}

.no-glass{
background:none;
backdrop-filter:none;
box-shadow:none;
padding:0;
}

.glass-top{align-self:flex-start;margin-top:60px;}
.glass-bottom{margin-bottom:40px;}
.glass-center{align-self:center;}

h1,h2{font-family:'Playfair Display',serif;}

.small{
font-size:14px;
letter-spacing:2px;
}

.space{height:30px;}

button{
margin-top:20px;
padding:12px 25px;
border-radius:30px;
border:none;
background:white;
font-weight:600;
cursor:pointer;
}

button.secondary{
background:transparent;
border:1px solid white;
color:white;
}

/* MUSIC */
.music-toggle{
position:fixed;
bottom:18px;
right:18px;
width:46px;
height:46px;
display:flex;
justify-content:center;
align-items:center;
background:rgba(255,255,255,.18);
backdrop-filter:blur(10px);
border-radius:50%;
z-index:9999;
}

.music-toggle.hidden{display:none;}

.music-disc{
width:29px;
height:29px;
border-radius:50%;
background:rgba(255,255,255,.3);
display:flex;
justify-content:center;
align-items:center;
}

.music-disc.playing{
animation:spin 4s linear infinite;
}

.music-icon{
font-size:10px;
color:white;
pointer-events:none;
}

@keyframes spin{
from{transform:rotate(0)}
to{transform:rotate(360deg)}
}

footer{
padding:16px;
text-align:center;
font-size:10px;
opacity:.7;
}